<xc-dialog-wrapper [draggable]="draggable" [resizable]="resizable" [maximizable]="maximizable" [maximized]="maximized" [xc-dialog-options]="dialogOptions" xc-i18n-context="zeta.xc-dialog.info-dialog">
  <ng-container header>{{ title }}</ng-container>
  <section content>
    <div id="xc-info-dialog-message-container">{{ message }}</div>
    @if (details) {
      <xc-button
        class="show-details-button"
        (click)="toggleDetailsSection()"
        color="normal"
      >{{(detailSectionVisible ? 'hide-button' : 'show-button') | xcI18n}}</xc-button>
    }
    @if (detailSectionVisible) {
      <pre class="details zeta-scrollbar">{{ details }}</pre>
    }
  </section>
  <ng-container footer>
    <xc-button xc-i18n (click)="dismiss()">ok-button</xc-button>
  </ng-container>
</xc-dialog-wrapper>
