
@switch (true) {
  <!-- for performance reasons the non-template case is checked first -->
  @case (!Type.XcTemplate.of(instance)) {
    <span
      [attr.aria-label]="ariaLabel + ' : ' + instance"
      tabindex="0"
      contenteditable="false"
      aria-readonly="true"
    >{{instance}}</span>
  }
  @case (Type.XcFormTextTemplate.of(instance)) {
    @let formText = $any(instance);
    <xc-form-text [label]="formText.label"
      [class]="formText.stylename"
      [value]="formText.dataWrapper.value"
      [xc-form-field-aria-label]="ariaLabel"
      [xc-form-field-compact]="formText.compact"
      [xc-form-field-floatlabel]="formText.floatLabel"
      [xc-tooltip]="formText.tooltip"
     />
  }
  <!--
  --< XcDefinitionListEntry >--
  Must always be unwrapped because a dl must directly contain dt and dd elements.
  This is why no class or tooltip is set here, because the element vanishes after unwrapping.
  -->
  @case (Type.XcDefinitionListEntryTemplate.of(instance)) {
    @let definitionListEntry = $any(instance);
    <xc-definition-list-entry [definitionType]="definitionListEntry.label"
      [definitionData]="definitionListEntry.data"
      xc-unwrap
     />
  }
  @case (Type.XcFormAutocompleteTemplate.of(instance)) {
    @let formAutocomplete = $any(instance);
    <xc-form-autocomplete [label]="formAutocomplete.label"
      [placeholder]="formAutocomplete.placeholder"
      [readonly]="formAutocomplete.readonly || readonly"
      [disabled]="formAutocomplete.disabled || disabled"
      [class]="formAutocomplete.stylename"
      [xc-form-validators]="formAutocomplete.validators"
      [xc-form-validator-required]="formAutocomplete.required"
      [xc-form-field-aria-label]="ariaLabel"
      [xc-form-field-compact]="formAutocomplete.compact"
      [xc-form-field-suffix]="formAutocomplete.suffix"
      [xc-form-field-floatlabel]="formAutocomplete.floatLabel"
      [xc-form-field-indicatechanges]="formAutocomplete.indicateChanges"
      [xc-form-field-callback]="formAutocomplete.callback"
      [(xc-form-autocomplete-option)]="formAutocomplete.dataWrapper.value"
      [xc-form-autocomplete-options]="formAutocomplete.dataWrapper.values"
      [xc-form-autocomplete-asinput]="formAutocomplete.asInput"
      [xc-form-autocomplete-asdropdown]="formAutocomplete.asDropdown"
      [xc-form-autocomplete-asmultiselect]="formAutocomplete.asMultiselect"
      (xc-form-autocomplete-multiSelectChange)="formAutocomplete.multiSelectCallback?.($event)"
      [xc-tooltip]="formAutocomplete.tooltip"
     />
  }
  @case (Type.XcFormInputTemplate.of(instance)) {
    @let formInput = $any(instance);
    <xc-form-input [label]="formInput.label"
      [placeholder]="formInput.placeholder"
      [readonly]="formInput.readonly || readonly"
      [disabled]="formInput.disabled || disabled"
      [class]="formInput.stylename"
      [(value)]="formInput.dataWrapper.value"
      [type]="formInput.type"
      [xc-form-validators]="formInput.validators"
      [xc-form-validator-required]="formInput.required"
      [xc-form-field-aria-label]="ariaLabel"
      [xc-form-field-compact]="formInput.compact"
      [xc-form-field-suffix]="formInput.suffix"
      [xc-form-field-floatlabel]="formInput.floatLabel"
      [xc-form-field-indicatechanges]="formInput.indicateChanges"
      [xc-form-field-callback]="formInput.callback"
      [xc-tooltip]="formInput.tooltip"
      [iconTooltip]="toolTip"
     />
  }
  @case (Type.XcFormTextAreaTemplate.of(instance)) {
    @let formTextarea = $any(instance);
    <xc-form-textarea [label]="formTextarea.label"
      [placeholder]="formTextarea.placeholder"
      [readonly]="formTextarea.readonly || readonly"
      [disabled]="formTextarea.disabled || disabled"
      [class]="formTextarea.stylename"
      [(value)]="formTextarea.dataWrapper.value"
      [xc-form-validators]="formTextarea.validators"
      [xc-form-validator-required]="formTextarea.required"
      [xc-form-field-aria-label]="ariaLabel"
      [xc-form-field-compact]="formTextarea.compact"
      [xc-form-field-floatlabel]="formTextarea.floatLabel"
      [xc-form-field-indicatechanges]="formTextarea.indicateChanges"
      [xc-form-field-callback]="formTextarea.callback"
      [xc-form-textarea-lines]="formTextarea.lines"
      [xc-tooltip]="formTextarea.tooltip"
     />
  }
  @case (Type.XcCheckboxTemplate.of(instance)) {
    @let formCheckbox = $any(instance);
    <xc-checkbox [label]="formCheckbox.label"
      [color]="formCheckbox.color"
      [readonly]="formCheckbox.readonly || readonly"
      [disabled]="formCheckbox.disabled || disabled"
      [class]="formCheckbox.stylename"
      [(checked)]="formCheckbox.dataWrapper.value"
      [indeterminate]="formCheckbox.indeterminate"
      [xc-tooltip]="formCheckbox.tooltip"
      [attr.aria-label]="ariaLabel"
     />
  }
  @case (Type.XcButtonTemplate.of(instance)) {
    @let formButton = $any(instance);
    <xc-button
      [color]="formButton.color"
      [disabled]="formButton.disabled || disabled || formButton.busy"
      [busy]="formButton.busy"
      [class]="formButton.stylename"
      [xc-tooltip]="formButton.tooltip"
      [xc-button-aria-label]="ariaLabel"
      (click)="formButton.action()"
      ><xc-icon [color]="formButton.color" [xc-icon-name]="formButton.iconName" [xc-icon-style]="formButton.iconStyle" [xc-icon-size]="formButton.iconSize">{{formButton.label}}</xc-icon></xc-button>
    }
    @case (Type.XcIconButtonTemplate.of(instance)) {
      @let iconButton = $any(instance);
      <xc-icon-button 
        [color]="iconButton.color"
        [disabled]="iconButton.disabled || disabled || iconButton.busy"    
        [busy]="iconButton.busy"
        [class]="iconButton.stylename"
        [xc-icon-name]="iconButton.iconName"
        [xc-icon-style]="iconButton.iconStyle"
        [xc-icon-size]="iconButton.iconSize"
        [xc-tooltip]="iconButton.tooltip"
        [xc-button-aria-label]="ariaLabel + (iconButton.label ? ' - ' + iconButton.label : '')"
        (click)="iconButton.action()"
       />
    }
    @case (Type.XcComponentTemplate.of(instance)) {
      @let componentTemplate = $any(instance);
      <ng-container [ngComponentOutlet]="componentTemplate.component"
        [ngComponentOutletInjector]="componentTemplate.getComponentInjector(injector)"
       />
    }
  }
