<mat-form-field [floatLabel]="floatLabel">
  <mat-label>{{label}}</mat-label>
  <div class="textarea-wrapper zeta-scrollbar">
    <textarea
      matInput
      autocomplete="off"
      [placeholder]="placeholder"
      [formControl]="formControl"
      [cdkAutosizeMinRows]="minLines"
      [cdkAutosizeMaxRows]="maxLines"
      [cdkTextareaAutosize]="textareaAutosize"
      [readonly]="readonly"
      (keydown)="onkeydown($event)"
      (focus)="focus.emit($event)"
      (blur)="blur.emit($event)"
      [attr.aria-label]="ariaLabel"
    ></textarea>
  </div>
  @if (errorVisible) {
    <mat-error align="end">{{errorContent}}</mat-error>
  }
</mat-form-field>
